IntentDemo/.gradle/
IntentDemo/build/
IntentDemo/.idea/
StaticSpinnerDemo/.idea/
DynamicSpinnerDemo/.idea/
ListViewExample/.idea/compiler.xml
ListViewExample/.idea/copyright/profiles_settings.xml
ListViewExample/.idea/
